<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <footer>
        <div class="footer-div">
            <div class="footer-logo">
                <img src="/imgs/logo-black.jpg" alt="logo"><br>
                <div class="logo-text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eligendi inventore et aspernatur nihil ipsam, eos sequi odit adipisci hic? Magni quisquam ipsam minus voluptatem id perferendis error laborum fuga maxime optio, dolor at accusantium deleniti quia, hic non. Animi tempora labore quidem vitae quaerat nesciunt officiis debitis magnam hic!</p>
                </div>
            </div>
            <div id="q-links" class="contact">
                <h3>Quick Links</h3><br>
                <ul>
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>About Us</li>
                    </a>
                    <a href="#">
                        <li>Contact Us</li>
                    </a>
                    <a href="#">
                        <li>Gallery</li>
                    </a>
                    <a href="#">
                        <li>Suggestions</li>
                    </a>
                </ul>
            </div>
            <div class="contact">
                <h3>Contact Us</h3><br>
                <div class="icons">
                    <i class="fa-regular fa-solid fa-phone"></i>
                    <div>
                        <span>1234567890</span>
                    </div>

                </div><br>
                <div class="icons">
                    <i class="fa-regular fa-envelope"></i>
                    <div>
                        <span>etshag@gmail.com</span>
                    </div>

                </div><br>
                <div class="icons">
                    <i class="fa-solid fa-location-dot"> </i>
                    <div>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, exercitationem.</span>
                    </div>

                </div><br>

                <div class="socials">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>

                </div><br>
                <div class="link-btn footer-down">
                    <i class="fa-sharp fa-solid fa-pen"></i>
                    <a href="/contact-us" class=" gallery">Leave a Message/Suggestions</a>
                </div>
            </div>

            <!-- <%- include('Form.ejs') %> -->
            


        </div>

    </footer>
</body>

</html>