
<form action="/suggestions" method="post">
    <h3>Leave a message</h3>
    <div class="top">
        <input type="text" placeholder="Name">
        <input type="tel" placeholder="Phone Number">
    </div>
    <input type="email" placeholder="Email Address">
    <textarea name="" id="" cols="20" rows="10" placeholder="Message"></textarea>
    <button type="submit">Send</button>
</form>