<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/styles/responsiveness.css" />
</head>

<body>
    <header>
        <nav id="myDiv" class="main">
            
                <img src="/imgs/logo-bg.png" alt="logo">
           

            <div class="nav-links">
                <div class="nav-quick">
                    <a href="/" <% if(pagename==="home" ){%> 
                        class=" active"
                        <%} else {%>
                            class="nav-btn"
                            <%}%>>HOME
                    </a>
                    <a href="/about-us" <% if(pagename==="about" ) {%>
                        class=" active"
                        <%} else {%>
                            class="nav-btn"
                            <%}%>>ABOUT    
                    </a>
                    
                    <a href="/contact-us" <% if(pagename==="contact" ) {%>
                        class=" active"
                        <%} else {%>
                            class="nav-btn"
                            <%}%>>CONTACT            
                    </a>
                </div>
                <div class="nav-gallery">
                    <div class="link-btn">
                        <i class="fa-solid fa-image"></i>
                        <a href="/gallery" class=" gallery">Gallery</a>
                    </div>
                </div>
                

            </div>
            <!-- Hamburger Icon -->

            <div id="menu-btn" class="hamburger">
                   <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            
            </div>
            
            <div class="ham-links">
                <div id="menu" class="sidebar hidden">

                    <a href="/">Home</a>
                    <a href="/about-us">About Us</a>
                    <a href="/contact-us">Contact Us</a>
                    <a href="/gallery">Gallery</a>
                    <!-- <a href="#">Suggestions</a> -->
                </div>
            </div>


        </nav>



    </header>

    <!-- <script src="/scripts/navbar.js"></script> -->
    <script src="/scripts/hamburger.js"></script>

</body>

</html>