<!-- PHOTO GALLERY -->
<div id="pix">
    <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display1 " loading="lazy" ></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display2"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display3"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display4"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display5"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display6"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display7"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display8"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display9"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display10"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display11"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display12"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display13"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display14"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display15"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display16"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display17"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display18"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display19"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display20"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display21"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display22"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display23"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display24"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display25"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display26"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display27"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="container">
          <div class="main-display">
            <div class="img-display display28"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display29"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="main-display">
            <div class="img-display display30"></div>
            <div class="below-img">
              <p>Lorem, ipsum.</p>
              <button class="btnGallery">Click to view Recipee</button>
            </div>
          </div>
          <div class="recipee-display">
            <h3>Lorem ipsum dolor sit.</h3>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="below">
              <p>Lorem, ipsum.</p>
              <button class="btnBelow">Back</button>
            </div>
          </div>
        </div>
      </div>
</div>

