<!-- VIDEO GALLERY -->
<div class="video-gallery">
  <div class="video-div">
    <div class="view-video">
      <video src="/videos/video1.mp4" controls class="videos"></video>
      <button class="btnVideo">View Recipee</button>
    </div>

    <div class="video-display">
      <h3>Lorem ipsum dolor sit.</h3>
      <ul>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <div class="below">
        <!-- <p>Lorem, ipsum.</p> -->
        <button class="btnBelowVideo">Back</button>
      </div>
    </div>
  </div>
  <div class="video-div">
    <div class="view-video">
      <video src="/videos/video1.mp4" controls class="videos"></video>
      <button class="btnVideo">View Recipee</button>
    </div>

    <div class="video-display">
      <h3>Lorem ipsum dolor sit.</h3>
      <ul>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <div class="below">
        <!-- <p>Lorem, ipsum.</p> -->
        <button class="btnBelowVideo">Back</button>
      </div>
    </div>
  </div>
  <div class="video-div">
    <div class="view-video">
      <video src="/videos/video1.mp4" controls class="videos"></video>
      <button class="btnVideo">View Recipee</button>
    </div>

    <div class="video-display">
      <h3>Lorem ipsum dolor sit.</h3>
      <ul>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <div class="below">
        <!-- <p>Lorem, ipsum.</p> -->
        <button class="btnBelowVideo">Back</button>
      </div>
    </div>
  </div>
</div>
<div class="video-gallery">
  <div class="video-div">
    <div class="view-video">
      <video src="/videos/video1.mp4" controls class="videos"></video>
      <button class="btnVideo">View Recipee</button>
    </div>

    <div class="video-display">
      <h3>Lorem ipsum dolor sit.</h3>
      <ul>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <div class="below">
        <!-- <p>Lorem, ipsum.</p> -->
        <button class="btnBelowVideo">Back</button>
      </div>
    </div>
  </div>
  <div class="video-div">
    <div class="view-video">
      <video src="/videos/video1.mp4" controls class="videos"></video>
      <button class="btnVideo">View Recipee</button>
    </div>

    <div class="video-display">
      <h3>Lorem ipsum dolor sit.</h3>
      <ul>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <div class="below">
        <!-- <p>Lorem, ipsum.</p> -->
        <button class="btnBelowVideo">Back</button>
      </div>
    </div>
  </div>
  <div class="video-div">
    <div class="view-video">
      <video src="/videos/video1.mp4" controls class="videos"></video>
      <button class="btnVideo">View Recipee</button>
    </div>

    <div class="video-display">
      <h3>Lorem ipsum dolor sit.</h3>
      <ul>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
      <div class="below">
        <!-- <p>Lorem, ipsum.</p> -->
        <button class="btnBelowVideo">Back</button>
      </div>
    </div>
  </div>
</div>
