<!-- VIDEO GALLERY -->
<div id="vids">
  <div class="video-gallery">
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video1.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video2.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video3.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="video-gallery">
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video4.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video5.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video6.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="video-gallery">
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video7.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video8.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video9.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="video-gallery">
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video10.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video11.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
    <div class="video-div">
      <div class="view-video">
        <video
          src="/videos/video12.mp4"
          controls
          preload="none"
          poster="/imgs/bg-img.png"
          class="videos"
        ></video>
        <button class="btnVideo">View Recipee</button>
      </div>

      <div class="video-display">
        <h3>Lorem ipsum dolor sit.</h3>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <div class="below">
          <p>Lorem, ipsum.</p>
          <button class="btnBelowVideo">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/play.js"></script>