<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AliveWithPlants || ABOUT US</title>
    <title></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/about.css" />
  </head>

  <body>
    <%- include('partials/Loader.ejs') %> <%- include('partials/Navbar.ejs') %>
    <main>
      <section class="about-section3">
        <div class="section3-text">
          <h3>About Us</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui
            voluptatibus obcaecati doloremque voluptatum debitis, expedita, odio
            quas impedit quae vero blanditiis ipsum consequatur! Quos maxime,
            quis tempore nesciunt tempora iste assumenda at rem magni.
            Cupiditate tempore, exercitationem aliquid nemo sequi, consectetur
            corrupti eum eos itaque similique aperiam odio? Rem delectus
            accusantium deserunt debitis ea saepe quis reiciendis ullam ipsam
            accusamus, quasi veritatis qui tempore iste quaerat temporibus
            nihil, suscipit minus optio illo ex similique nemo sint sequi. Nihil
            dolorem, earum ullam porro magni et quas, distinctio iusto alias,
            aspernatur repudiandae! Ad incidunt quam sed ut obcaecati quaerat
            esse sint, consectetur id cupiditate, odio dolores? Nobis quasi
            iure, ab a iste quisquam accusamus quo illo ex tempore minus animi
            sit harum facilis, amet cum totam ad expedita aut voluptatibus.
            Soluta, veniam ex? Id, neque totam! Fuga, aperiam cum optio saepe
            assumenda sunt id ab dolores voluptate porro iste illo fugiat quod
            aut suscipit maiores quasi quidem soluta nihil reprehenderit veniam
            modi esse tempore quae! Error doloremque fugiat aliquid, animi,
            nulla laudantium iure eius pariatur rem qui labore perspiciatis
            quibusdam aut distinctio recusandae sapiente. Fugiat, reiciendis
            commodi! Voluptas, expedita! Laboriosam, reiciendis! Consectetur
            nostrum inventore veritatis at aspernatur, voluptate sunt veniam
            aliquam error.
          </p>
        </div>
        <!-- <div class="img">
                <img src="/imgs/basket-removebg.png" alt="" />
            </div> -->
      </section>
      <section class="section4 main">
        <div class="section4-top">
          <span></span>
          <h4>Featured Products</h4>
          <span></span>
        </div>
        <div class="section4-imgs">
          <div class="slides">
            <div class="img-slide slide1"></div>
            <div class="text-below">
              <h5>Lorem, ipsum.</h5>
            </div>
          </div>
          <div class="slides">
            <div class="img-slide slide2"></div>
            <div class="text-below">
              <h5>Lorem, ipsum.</h5>
            </div>
          </div>
          <div class="slides">
            <div class="img-slide slide3"></div>
            <div class="text-below">
              <h5>Lorem, ipsum.</h5>
            </div>
          </div>
        </div>
        <div class="section4-imgs">
          <div class="slides">
            <div class="img-slide slide4"></div>
            <div class="text-below">
              <h5>Lorem, ipsum.</h5>
            </div>
          </div>
          <div class="slides">
            <div class="img-slide slide5"></div>
            <div class="text-below">
              <h5>Lorem, ipsum.</h5>
            </div>
          </div>
          <div class="slides">
            <div class="img-slide slide6"></div>
            <div class="text-below">
              <h5>Lorem, ipsum.</h5>
            </div>
          </div>
        </div>
        <br /><br />
        <div class="btn-div">
          <a href="#" class="btn">Click Here to vist our Gallery</a>
        </div>
      </section>
      <br /><br />
    </main>
    <%- include('partials/Footer.ejs') %>
  </body>
</html>
