<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/Loader.ejs') %>
    <%- include('partials/Navbar.ejs') %>
    <main>
        <section>
         <h1>Contact Us</h1>   
        </section>
    </main>
    <%- include('partials/Footer.ejs') %>
</body>
</html>