<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/contact.css">
</head>
<body>
    <%- include('partials/Loader.ejs') %>
    <%- include('partials/Navbar.ejs') %>
    <main>
        <section class="section-contact">
            <div class="contact-div">
                <div class="contact">
                    <h3>Contact Us</h3><br>
                    <div class="icons">
                        <i class="fa-regular fa-solid fa-phone"></i>
                        <div>
                            <span>1234567890</span>
                        </div>
    
                    </div><br>
                    <div class="icons">
                        <i class="fa-regular fa-envelope"></i>
                        <div>
                            <span>etshag@gmail.com</span>
                        </div>
    
                    </div><br>
                    <div class="icons">
                        <i class="fa-solid fa-location-dot"> </i>
                        <div>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, exercitationem.</span>
                        </div>
    
                    </div><br>
    
                    <div class="socials">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    
                    </div>
                </div> 
                <%- include('partials/Form.ejs') %>
            </div>
            
        </section>
        <section class="section4 main">
            <div class="section4-top">
                <span></span>
                <h4>Featured Products</h4>
                <span></span>
            </div>
            <div class="section4-imgs">
                <div class="slides">
                    <div class="img-slide slide1"></div>
                    <div class="text-below">
                        <h5>Lorem, ipsum.</h5>
                    </div>
                </div>
                <div class="slides">
                    <div class="img-slide slide2"></div>
                    <div class="text-below">
                        <h5>Lorem, ipsum.</h5>
                    </div>
                </div>
                <div class="slides">
                    <div class="img-slide slide3"></div>
                    <div class="text-below">
                        <h5>Lorem, ipsum.</h5>
                    </div>
                </div>
            </div>
            <div class="section4-imgs">
                <div class="slides">
                    <div class="img-slide slide4"></div>
                    <div class="text-below">
                        <h5>Lorem, ipsum.</h5>
                    </div>
                </div>
                <div class="slides">
                    <div class="img-slide slide5"></div>
                    <div class="text-below">
                        <h5>Lorem, ipsum.</h5>
                    </div>
                </div>
                <div class="slides">
                    <div class="img-slide slide6"></div>
                    <div class="text-below">
                        <h5>Lorem, ipsum.</h5>
                    </div>
                </div>
            </div><br><br>
            <div class="btn-div">
                <a href="#" class="btn">Click Here to vist our Gallery</a>
            </div>

        </section><br><br>
    </main>
    <%- include('partials/Footer.ejs') %>
</body>
</html>