<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AliveWithPlants || HOME</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
        <%- include('partials/Navbar.ejs') %>
        <main>
            <section class="section-home">
                <div class="main bgImg-text ">
                    <h1><span>Welcome to</span>  AliveWithPlant</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, eius.</h3>
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, maiores voluptatem! Dolor, dolorem. Excepturi, quod. Est quia error eius magnam.</h5>
                    <a href="#" class="btn">Click Here</a>
                </div>
            </section>
        </main>
        
    
   
</body>
</html>