<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/suggestions.css">
</head>
<body>
    <%- include('partials/Loader.ejs') %>
     <%- include('partials/Navbar.ejs') %>
    <main>
        <section class="section3 ">
            <div class="suggestions-container">
                <div class="suggestions-div1">
                    <h1>Lorem, ipsum.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptate deleniti tempora incidunt repudiandae minima nihil praesentium obcaecati inventore! Harum, nemo voluptas libero est velit molestiae. Praesentium nostrum excepturi beatae iure soluta ex maiores commodi, vero, totam consequatur est autem.</p>
                </div>
                <%- include('partials/Form.ejs') %>
            </div>
            
        </section>
    </main>
    <%- include('partials/Footer.ejs') %>
</body>
</html> -->