.section-contact{
    width: 100%;
    /* height: 100vh; */
    background: radial-gradient(circle, rgba(100, 159, 35, 1) 35%, rgba(35, 124, 56, 1) 99%);
    /* padding-top: 2rem; */
    padding-bottom: 3rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
}
.contact-div{
    width: 85%;
    margin: 3rem auto;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 20px;
}
.contact {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1.75rem;
    z-index: 20;
    box-shadow: 9px 10px 23px -4px rgba(0, 0, 0, 0.75);
}

.contact ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact ul a {
    color: grey;
    text-decoration: none;
}

.contact h3 {
    /* text-align: center; */
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 3rem;
    color: var(--primary-green);

}

.contact .icons {
    display: flex;
    gap: 20px;
    align-items: center;
    color: grey;
}

.contact .icons i {
    color: gold;
    font-size: 1.5rem;

}

.contact .icons div span {
    font-size: 1rem;
}

.contact .socials {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .socials i {
    background-color: grey;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
}

@media screen and (max-width: 900px) {
    .contact-div{
       flex-direction: column; 
    }
    .contact, form{
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .contact-div{
       flex-direction: column; 
    }
    .contact, form{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .contact-div{
        width: 95%;
    }
    
}