@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sora:wght@200;300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-green: rgb(98, 175, 47);
    --primary-orange: rgb(198, 153, 24);
    --primary-red: rgb(211, 33, 37);
    --primary-white: white;
    --primary-black: black;
}

main {
    font-family: 'Open Sans', sans-serif;
}

.main {
    width: 85%;
    margin: 0 auto;
}


/* HEADER STYLING */
header {
    width: 100%;
    /* background: linear-gradient(to right, white 0%, white 40%, rgb(98, 175, 47) 0%, rgb(98, 175, 47) 60%);*/
    border-bottom: 2px solid rgb(215, 206, 206);
    position: relative;
}



nav {
    /* width: 95%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-family: 'Sora', sans-serif;
    position: relative;

}

nav .logo {
    width: 30%;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    /* padding: 0.75rem 0; */
}

nav .nav-quick {
    width: 45%;
    display: flex;
    justify-content: space-between;
}


nav .nav-gallery {
    width: 35%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

nav .nav-links .nav-gallery .link-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--primary-green);
    border-radius: 5px;
    gap: 10px;
}

nav .nav-gallery .link-btn .gallery {
    color: white;
    font-weight: 400;
}

i {
    font-size: 15px;
    color: var(--primary-white);
}

nav .nav-gallery .gallery:hover,
nav .nav-gallery .gallery:focus,
nav .nav-gallery .gallery:active {
    color: rgb(213, 197, 197);
    transition: color 0.2s ease-in-out;
}

nav a {
    text-decoration: none;
    color: var(--primary-green);
    font-weight: bold;

}

.active,
.nav-btn:hover,
.nav-btn:active {
    /* background-color: var(--color-section2); */
    color: rgb(213, 197, 197);
    transition: color 0.2s ease-in-out;
    border-bottom: 2px solid var(--primary-green);
}

.hamburger,
.ham-links,
.sidebar {
    display: none;
}


/* HEADER MEDIA QUERIES */
@media screen and (max-width: 768px) {

    .nav-links .nav-quick,
    .nav-links .nav-gallery {
        display: none;
    }

    nav {
        align-items: center;
    }

    nav .nav-links {
        justify-content: flex-end;
    }

    .hamburger,
    .ham-links {
        display: block;
    }



    /* Hamburger Menu */
    .hamburger {
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: all 0.25s;
        position: relative;
    }

    .hamburger:focus {
        outline: none;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 2px;
        background-color: #000;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .hamburger-middle {
        transform: translateY(7px);
    }

    .hamburger-bottom {
        transform: translateY(14px);
    }

    .open {
        transform: rotate(90deg);
        transform: translateY(0px);
    }

    .open .hamburger-top {
        transform: rotate(45deg) translateY(6px) translate(6px);
    }

    .open .hamburger-middle {
        display: none;
    }

    .open .hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translate(-6px);
    }

    .sidebar {
        position: absolute;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* align-self: flex-end; */
        background-color: aquamarine;
        padding: 2rem 0;
        padding-left: 1.5rem;
        margin-top: 2.5rem;
        font-weight: bold;
        left: 0;
        right: 0;
        box-shadow: 2px 5px 6px;
        z-index: 40;

    }

    .flex {
        display: flex;
        transition: all 0.5s ease-in-out;
    }

    .hidden {
        display: none;
    }
}

/* SECTION 1 STYLES */
.section-home {
    width: 100%;
    height: 90vh;
    background: url("/imgs/img-bg.png") no-repeat center center;
    background-size: cover;
    position: relative;

}

.section-home .bgImg-text {
    background-color: rgba(220, 210, 210, 0.3);
    width: 40%;
    /* height: 40vh; */
    /* border: 1px solid red; */
    position: absolute;
    top: 20%;
    left: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    padding: 10px;
}

.section-home .bgImg-text h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-orange);
}

.section-home .bgImg-text h1 span {
    color: var(--primary-green);
    font-size: 2rem;
}

.section-home .bgImg-text h5 {
    font-style: italic;
}

.section-home .bgImg-text .btn {
    width: 30%;
    padding: 0.75rem 1.75rem;
    background-color: var(--primary-green);
    text-decoration: none;
    border-radius: 5px;
    color: var(--primary-white);
    font-weight: bold;
    margin-top: 10px;
}

/* SECTION 2 */
.section2 {
    /* height: 50vh; */
    display: flex;
    gap: 15px;
    padding-top: 2rem;
    padding-bottom: 4rem;

}

.section2-1 {
    width: 80%;
    padding: 2rem;
    background-color: #d2e4c7;
    display: flex;
    align-items: center;
}

.section2-2 {
    width: 80%;
    padding: 2rem;
    background-color: #f0e39f;
    display: flex;
    align-items: center;
}

.section2-1 .section2-1text {
    border: 3px solid white;
    padding: 2rem 1rem;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.section2-1 .section2-1text div {
    width: 40%;
}

.section2-1 .section2-1text div h4 {
    font-size: 1rem;
}

.section2-1 .section2-1text div p {
    font-size: 0.85rem;
}

.section2-1 .section2-1text div .btn {
    background-color: #b0be20;
    width: 25%;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 3px solid white;
    border-radius: 15px;
    text-decoration: none;
    font-size: 0.75rem;
    position: absolute;
    left: 5%;
    top: 92%;
}

.section2-1 .section2-2text div .btn {
    background-color: #edd04e;

}

.section2-1 .section2-1text .section2-1img img {
    width: 80%;
    position: absolute;
    top: 19%;
    right: -11%;
    z-index: 10;
}

.section2-1 .section2-1text .section2-2img img {
    width: 85%;
    position: absolute;
    top: 15%;
    right: -18%;
    z-index: 10;
}

/* SECTION 3 */
.section3 {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(100, 159, 35, 1) 35%, rgba(35, 124, 56, 1) 99%);
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section3 .one img {
    position: absolute;
    top: -12%;
    left: 0;
    width: 10%;
}

.section3 .two img {
    position: absolute;
    top: -10%;
    right: 0;
    width: 15%;
}

.section3 .section3-text {
    /* border: 1px solid red; */
    width: 50%;
    color: white;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section3 .section3-text h3 {
    text-transform: uppercase;
    text-align: center;
}

.section3 .section3-text p {
    font-size: 0.95rem;
    text-align: center;
}

.section3 .section3-text div {
    display: flex;
    justify-content: center;
}

.section3 .section3-text .btn {
    font-size: 0.95rem;
    background-color: var(--primary-green);
    width: 25%;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 3px solid white;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;

}

.section3 .img img {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 66%;
    z-index: 10;
}

/* SECTION 4 */
.section4 {
    /* height: 100vh; */
    padding-top: 4rem;
    padding-top: 4rem;
    /* border: 1px solid red; */
}

.section4 .section4-top {
    width: 35%;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section4 .section4-top span {
    background-color: rgba(35, 124, 56, 1);
    width: 20%;
    height: 2px;
}

.section4 .section4-imgs {
    padding-top: 1rem;
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-between;
}

.section4 .section4-imgs .slides {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.28);
    margin-top: 2rem;

}

.section4 .section4-imgs .slides .img-slide {
    height: 50vh;

}

.section4 .section4-imgs .slides .slide1 {
    background: url("/imgs/pix1.jpg")no-repeat center center;
    background-size: cover;
}

.section4 .section4-imgs .slides .slide2 {
    background: url("/imgs/pix2.jpg")no-repeat center center;
    background-size: cover;
}

.section4 .section4-imgs .slides .slide3 {
    background: url("/imgs/pix3.jpg")no-repeat center center;
    background-size: cover;
}

.section4 .section4-imgs .slides .slide4 {
    background: url("/imgs/pix4.jpg")no-repeat center center;
    background-size: cover;
}

.section4 .section4-imgs .slides .slide5 {
    background: url("/imgs/pix5.jpg")no-repeat center center;
    background-size: cover;
}

.section4 .section4-imgs .slides .slide6 {
    background: url("/imgs/pix6.jpg")no-repeat center center;
    background-size: cover;
}

.section4 .section4-imgs .slides .text-below {
    /* width: 60%; */
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #d2e4c7;
    padding-left: 10px;

}

.section4 .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .btn-div .btn {
    width: 50%;
    background-color: var(--primary-green);
    padding: 0.75rem 1.75rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

/* SECTION 5 */
.section5 {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}
.section5::before {
    content: "";
    background: url("/imgs/bg-fruits.jpg")no-repeat center center;
    background-size: cover;
    filter: opacity(5%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.section5 .section5-main {
    width: 85%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section5 .section5-main .sec5-img img{
    width: 90%;
}
.section5 .section5-main .sec5-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.section5 .section5-main .sec5-text h2{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-green);
}
.section5 .section5-main .sec5-text p{
    
}
.section5 .section5-main .sec5-text a{
    width: 40%;
    color: white;
    background-color: var(--primary-green);
    text-decoration: none;
    padding: 0.75rem 1.75rem;
    text-align: center;
    border-radius: 5px;
}

/* FOOTER */
footer{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
footer:before{
    content: "";
    background: url("/imgs/fruits_selection.jpg")no-repeat center center;
    background-size: cover;
    filter: grayscale(80%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
footer .footer-div{
    width: 85%;
    display: flex;
    align-items: center;
    
    /* margin: 0 auto; */

}
footer .footer-div .contact{
    width: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
    padding-bottom: 3rem;
    position: absolute;
    z-index: 20;
    box-shadow: 9px 10px 23px -4px rgba(0,0,0,0.75);
}
footer .footer-div .contact h3{
    /* text-align: center; */
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    
}
footer .footer-div .contact .icons{
    display: flex;
    gap: 20px;
    align-items: center;
    color: grey;
}
footer .footer-div .contact .icons i {
    color: gold;
    font-size: 1.5rem;
    
}
footer .footer-div .contact .icons div span{
    font-size: 1rem;
}
footer .footer-div .contact .socials{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-div .contact .socials i{
    background-color: grey;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
}